<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
    <title> {% block title%}Login{%endblock%} </title>
</head>
<body>
<div class="sign_up_main">
    <div class="navbar">

    </div>
    <div class="sign_up_image">
        <img src="static/images/github_Pic1.jpg" alt="" >
    </div>
    <p></p>
    <div class="sign_up_form">
        <form action="gohome" method="post">
           <p>Enter Username:</p>
           <input type="text" name="name_input" id="Name_input">
           <p>Enter Password:</p>
           <input type="text" name = "password" id="password">
            <br>
           <input type="submit" value="join" id="greet">
        </form>
    </div>
</div>
</body>
</html>












